<template>  
    <BasePage>
        <section>
        <!-- <div class="wrapper"> 是列表用这个 -->
            <!-- HTML内容 -->
        
        </section>
    </BasePage>
</template>

<script>
import BasePage from '@/components/BasePage'

import {} from '@api/ent/${NAME}'
export default{
    data(){
        return {

        }
    },
    components:{
        BasePage
    },
    mounted(){
        
    }
}
</script>

<style lang="less" scoped>

</style>